@charset "UTF-8";
body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
}

input,
button {
  border-radius: 0 !important;
}

.header {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 99;
  padding: 30px 0px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
}
.header-nav li {
  margin-right: 10px;
}
.header-nav li a {
  display: inline-block;
  position: relative;
  padding-bottom: 3px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  color: black;
  text-decoration: none;
}
.header-nav li a::before {
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  height: 3px;
  background: transparent;
  transition: background 0.3s linear;
}
.header-nav li a:hover::before {
  background: #ff4245;
}
.header-img img {
  max-width: 100%;
}
.header-share {
  position: relative;
}
.header-share-btn {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 235px;
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ff4245;
  background-color: #ff4245;
}
.header-share-btn a {
  font-weight: bold;
  color: white;
}
.header-share-btn:hover {
  background-color: white;
  color: black;
  transition: background 0.3s ease-in-out;
}
.header-share-btn:hover a {
  color: black;
}
.header-share a {
  margin-right: 10px;
  font-size: 20px;
}
.header-share_links ul li a i {
  font-size: 30px;
}

.hero {
  display: flex;
}
.hero__buttons {
  padding-left: 7px;
}
.hero-button {
  cursor: pointer;
  width: 235px;
  margin-top: 25px;
  text-transform: uppercase;
  padding: 10px;
  color: white;
  background-color: #ff4245;
  border: 2px solid #ff4245;
  font-weight: bold;
}
.hero-button a {
  color: white;
}
.hero-button:hover {
  color: black;
  transition: background 0.3s ease-in-out;
  background-color: #fff;
}
.hero-button:hover a {
  color: black;
}
.hero-video {
  position: relative;
  cursor: pointer;
  height: 300px;
  background-image: url("../img/hero-img_preview.png");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}
.hero-video-wrapper {
  padding-left: 30px;
}
.hero-video-play {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 40%;
  left: 47%;
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.hero-video-play i {
  color: black;
}

.company-accordion ul li {
  padding: 20px 30px;
  background-color: #eeeeee;
  margin-bottom: 20px;
}
.company-accordion ul li i {
  transform: none;
  margin-left: 10px;
}
.company-accordion ul li a {
  font-weight: bold;
  color: black;
  text-transform: uppercase;
}
.company-accordion ul li a:hover {
  color: #ff4245;
}
.company-accordion_item-text {
  display: none;
  margin-top: 10px;
}

li.active i {
  transform: rotate(180deg) !important;
}

.team-item {
  align-items: center;
}
.team-item_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
}
.team-item_name {
  font-size: 26px;
}
.team-item_video {
  margin-right: 50px;
  width: 400px;
  height: 300px;
  background-color: black;
  position: relative;
  cursor: pointer;
}
.team-item_video a {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 40%;
  left: 43%;
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.team-item_video a i {
  color: black;
}
.team-item_contacts a {
  color: black;
}
.team-item_contacts a:hover {
  color: #5cb0c9;
}
.team-item_links ul li {
  margin-right: 5px;
}
.team-item_btn-show-more, .team-item_btn-help {
  cursor: pointer;
  padding: 10px;
  width: 235px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  background-color: #ff4245;
  border: 1px solid #ff4245;
}
.team-item_btn-show-more a, .team-item_btn-help a {
  color: white;
}
.team-item_btn-show-more:hover, .team-item_btn-help:hover {
  background-color: white;
  color: black;
  transition: background 0.3s ease-in-out;
}
.team-item_btn-show-more:hover a, .team-item_btn-help:hover a {
  color: black;
}

.support-form {
  padding-top: 15px;
}
.support-form button {
  cursor: pointer;
  padding: 7px;
  width: 235px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  background-color: #ff4245;
  border: 1px solid #ff4245;
}
.support-form button:hover {
  background-color: white;
  color: black;
  transition: background 0.3s ease-in-out;
}

.offert-link {
  color: #ff4245;
}

.donate {
  padding: 50px 0px;
}
.donate-methods {
  padding-top: 20px;
}

.footer {
  background-color: #eeeeee;
}
.footer-wrapper ul li {
  margin-right: 5px;
}

.dropdown-menu.show {
  display: flex !important;
  flex-direction: column;
  min-width: 300px;
  align-items: center;
}

.header-share_links.show {
  left: -50% !important;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: black;
  color: white;
}

.nav-link:hover {
  color: black;
  border-bottom: 4px solid #5cb0c9 !important;
  transition: background 0.3s ease-in-out;
}

.dropdown-toggle {
  cursor: pointer;
  padding: 10px;
  border: 2px solid #ff4245;
  border-radius: 0 !important;
}

.footer-contacts_link {
  font-weight: bold;
}
.footer-contacts_link:hover {
  color: #ff4245;
}

.modal {
  max-width: none;
  height: 70% !important;
  overflow-y: scroll;
}

.modal a.close-modal {
  top: 10px !important;
  right: 10px !important;
}

.modal-title {
  border-bottom: 2px solid #5cb0c9;
  font-size: 26px;
}

.fa-vk {
  color: #366aa6;
}

.fa-twitter {
  color: #29a3ef;
}

.fa-facebook {
  color: #2758b4;
}

.fa-telegram {
  color: #3aa7de;
}

.fa-whatsapp {
  color: #4bd65b;
}

.fa-viber {
  color: #7d3daf;
}

.form-check label::before {
  content: "";
  display: inline-block;
  height: 16px;
  width: 16px;
  border: 1px solid gray;
}

.form-check label::after {
  content: "";
  display: inline-block;
  height: 8px;
  width: 13px;
  border-left: 4px solid;
  border-bottom: 4px solid;
  transform: rotate(-45deg);
}

.form-check input[type=checkbox] {
  opacity: 0;
}

.form-check label {
  position: relative;
}

.form-check label::before,
.form-check label::after {
  position: absolute;
}

/*Внешний блок*/
.form-check label::before {
  top: 3px;
  left: -20px;
}

.form-check-label {
  padding-left: 5px;
}

.form-check-label_custom {
  font-size: 1rem;
}

/*Галка*/
.form-check label::after {
  left: -18px;
  top: 6px;
}

/*Прячем галку по умолчанию*/
.form-check input[type=checkbox] + label::after {
  content: none;
}

/*Показываем галку по состоянию checked*/
.form-check input[type=checkbox]:checked + label::after {
  content: "";
}

.video-anna {
  background-image: url("../img/blue.jpg");
}

.modal-wrapper {
  max-width: 50%;
  margin: 0 auto;
}

.support-title {
  font-size: 30px;
}

.team-item_links i,
.footer-links {
  font-size: 36px;
  margin-right: 10px;
}

.team-item_links i {
  color: #6b6bff;
}

.nav-tabs {
  background: #eeeeee;
  padding: 10px 20px;
}

.nav-link {
  text-transform: uppercase;
  color: #9ca3b0;
  font-weight: bold;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: black !important;
  background-color: #eeeeee;
  border: none;
  border-bottom: 4px solid #5cb0c9;
}

.requisites {
  font-weight: bold;
  text-transform: uppercase;
  color: #5cb0c9;
}

.lead {
  font-size: 1.15rem !important;
}

.display-4 {
  font-size: 3.1rem !important;
}

.button-copy {
  cursor: pointer;
}

.copied {
  display: none;
  background-color: black;
  padding: 15px;
  color: white;
  border-radius: 4px;
  position: fixed;
  right: 20px;
  bottom: 5%;
}

.nav-tabs .nav-link {
  border: none;
}

.team-item_links {
  padding-left: 15px;
}

@media (max-width: 900px) {
  .modal-wrapper {
    max-width: none;
    margin: 0;
  }
}
@media (max-width: 767px) {
  .team-item {
    justify-content: center;
  }

  .company-accordion ul li a {
    font-size: 16px;
  }

  .team-item_btn {
    flex-direction: column;
    padding-left: 15px;
  }

  .header-share_links.show {
    top: -10px !important;
    left: -32px !important;
  }
}
@media (max-width: 600px) {
  h1,
h2 {
    font-size: 3rem !important;
  }

  .footer-share {
    align-items: center !important;
  }
  .footer-share p {
    text-align: center;
  }
}